html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-top: 20px;
}

.buttonListOne, .buttonListTwo {
    margin-right: 20px;
    padding: 0;
    list-style-type: none;
}

.buttonListItem {
    margin-bottom: 10px;
}

.buttonListItem button {
    width: 100%;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttonListItem button:hover {
    background-color: aquamarine;
    color: black;
}

.puzzleList {
    width: max-content;
    height: 250px;
    border: 1px solid black;
    overflow-y: auto;
    padding: 0;
}

.puzzleListItem {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: medium;
    cursor: pointer;
}

.puzzleListItem:hover {
    background-color: lightblue;
    font-weight: bold;
}

.puzzleListDiv {
    margin-top: 20px;
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 20px;
}

em {
    font-style: normal;
}


